<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <a class="navbar-brand" [routerLink]="['']" routerLinkActive="$router_link-active$">Navbar</a>
  <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId"
          aria-controls="collapsibleNavId"
          aria-expanded="false" aria-label="Toggle navigation"
          (click)="isCollapsed = !isCollapsed">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div [ngbCollapse]="isCollapsed" class="collapse navbar-collapse" id="collapsibleNavId">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="['/list']" routerLinkActive="$router_link-active$">Produits <span
          class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/add']" routerLinkActive="$router_link-active$">Creation</a>
      </li>
    </ul>

    <ul class="navbar-nav">
      <li *ngIf="!isLoggedIn" class="nav-item"><a class="nav-link" [routerLink]="['/login']"
                                                    routerLinkActive="$router_link-active$">Login</a>
      <li *ngIf="isLoggedIn" class="nav-item">
      <a class="nav-link" (click)="logOut()" >logOut</a>
      </li>
    </ul>
  </div>

</nav>
