<div class="card offset-lg-2 col-lg-8">
  <div class="card-header bg-info text-white">
    Ajouter un nouveau produit
  </div>
  <div class="card-body">
    <div class="container-fluid">

      <form [formGroup]="form" (ngSubmit)="addProduct(form.value)" novalidate>

        <div class="form-group row">
          <label for="" class="col-lg-3 col-form-label">Code de produit</label>
          <div class="col-lg-4">
            <input formControlName="id" type="text" class="form-control" name="" id="" aria-describedby="helpId"
                   placeholder="">
          </div>
          <div *ngIf="form.get('id').touched && form.get('id').invalid" class="col-lg-5 text text-danger">
            Le code de produit est obligatoire
          </div>
        </div>

        <div class="form-group row">
          <label for="" class="col-lg-3 col-form-label">Nom de produit</label>
          <div class="col-lg-4">
            <input formControlName="nom" type="text" class="form-control" name="" id="" aria-describedby="helpId"
                   placeholder="">
          </div>
          <div *ngIf="form.get('nom').touched && form.get('nom').invalid" class="col-lg-5 text text-danger">
            Le nom de produit est obligatoire
          </div>
        </div>

        <div class="form-group row">
          <label for="" class="col-lg-3 col-form-label">Prix de produit</label>
          <div class="col-lg-4">
            <input formControlName="prix" type="text" class="form-control" name="" id="" aria-describedby="helpId"
                   placeholder="">
          </div>
          <div *ngIf="form.get('prix').touched && form.get('prix').invalid" class="col-lg-5 text text-danger">
            <div *ngIf="form.controls['prix'].errors.required"> le prix est obligatoire</div>
            <div *ngIf="form.controls['prix'].errors.pattern"> le form de prix doit etre numerique</div>
          </div>
        </div>

        <div class="form-group row">
          <div class="offset-lg-3 col-lg-8">
            <button type="reset" class="btn btn-info">Rénitialiser</button>
            &nbsp;
            &nbsp;
            <button type="submit" class="btn btn-primary" [disabled]="form.invalid">Envoyer</button>

          </div>
        </div>
      </form>
    </div>
  </div>
</div>






