<div class="card offset-2 col-8">
  <div class="card-header bg-info text-white">
    Details du produit
  </div>
  <div class="card-body">
    <table class="table table-bordered table-striped">
      <tbody>
      <tr>
        <td scope="row"> Numéro</td>
        <td>{{ iProduct?.id }}</td>
      </tr>
      <tr>
        <td scope="row"> Nom</td>
        <td>{{ iProduct?.nom }}</td>
      </tr>
      <tr>
        <td scope="row"> Prix</td>
        <td>{{ iProduct?.prix }}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>


