<div class="card">
  <div class="card-header bg-info text-white">
    <h5>List des produits</h5>
  </div>
  <div class="card-body">
    <table class="table table-bordered table-striped">
      <thead>
      <tr>
        <th>Code du produiot</th>
        <th>Nom du produiot</th>
        <th>Prix du produiot</th>
      </thead>
      <tbody>
      <tr *ngFor="let item of data  ">
        <td>{{ item.id }}</td>
        <td [style.color]="couleur"><a [routerLink]="['/detail', item.id]"
                                       routerLinkActive="$router_link-active$"> {{ item.nom }}</a></td>
        <td>{{ item.prix }}</td>
      </tbody>
    </table>
  </div>
</div>

