<div class="card offset-lg-2 col-lg-8">
  <div class="card-header bg-info text-white">
    Ajouter un nouveau produit
  </div>
  <div class="card-body">
    <div class="container-fluid">

      <form [formGroup]="form" (ngSubmit)="login(form.value)" novalidate>

        <div class="form-group row">
          <label for="" class="col-lg-3 col-form-label">Login</label>
          <div class="col-lg-4">
            <input formControlName="username" type="text" class="form-control" name="" aria-describedby="helpId"
                   placeholder="">
          </div>
          <div *ngIf="form.get('username').touched && form.get('username').invalid" class="col-lg-5 text text-danger">
            Le username est obligatoire
          </div>
        </div>

        <div class="form-group row">
          <label for="" class="col-lg-3 col-form-label">Password</label>
          <div class="col-lg-4">
            <input formControlName="password" type="password" class="form-control" name="" aria-describedby="helpId"
                   placeholder="">
          </div>
          <div *ngIf="form.get('password').touched && form.get('password').invalid" class="col-lg-5 text text-danger">
            Le password est obligatoire
          </div>
        </div>

        <div class="form-group row">
          <div class="offset-lg-3 col-lg-8">
            <button type="reset" class="btn btn-info">Rénitialiser</button>
            &nbsp;
            &nbsp;
            <button type="submit" class="btn btn-primary" [disabled]="form.invalid">Login</button>

          </div>
        </div>
      </form>
    </div>
  </div>
</div>






